h1 {
  @apply text-4xl font-serif mb-4;
}

a {
  @apply text-blue-500 underline;
}

a:hover {
  @apply text-blue-700;
}

p {
  @apply my-4;
}

ul,
ol {
  @apply pl-8 my-4;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li > p,
li > ol,
li > ul {
  margin: 0;
}

pre code {
  @apply my-4;
}

p code {
  display: inline-block;
  @apply bg-gray-300 text-sm p-1 rounded-sm font-semibold;
}

blockquote {
  @apply border-l-4 border-gray-600 italic pl-4;
}

.nuxt-content {
  h1 {
    @apply text-2xl font-serif mb-4;
  }
}

.nuxt-content-highlight {
  @apply relative;
}
.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-600 z-10 mr-2 mt-2 text-sm;
}

