body {
  @apply text-gray-800;
}

h1 {
  @apply text-4xl font-serif;
}

h2 {
  @apply text-2xl;
}

a {
  @apply text-blue-500 underline;
}

a:hover {
  @apply text-blue-700;
}

p {
  @apply mb-4;
}

ul,
ol {
  @apply pl-8 my-4;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li > p,
li > ol,
li > ul {
  margin: 0;
}

blockquote {
  @apply border-l-4 border-gray-600 italic pl-4;
}

figcaption {
  @apply text-sm text-gray-700 text-center;
}

.nuxt-content-highlight {
  @apply relative mb-4;
}
.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-600 z-10 mr-2 mt-2 text-sm;
}

.page-wrapper {
  @apply flex flex-col min-h-screen;

  header {
    @apply p-4 border-b shadow-sm fixed w-full z-10 bg-white;
  }

  main {
    @apply flex-grow pt-24 pb-8 px-4 max-w-screen-md mx-auto;
  }

  footer {
    @apply flex text-sm text-gray-700 justify-center p-4 bg-gray-100;

    a.social {
      @apply h-6 w-6 ml-2;
      svg {
        @apply fill-current;
      }
    }
  }
}

.site-name {
  @apply font-mono font-bold text-2xl text-gray-800 no-underline;
  &:hover {
    @apply text-gray-800;
  }
}

.blog {
  h2 {
    @apply text-gray-700;
  }

  &__date {
    @apply text-sm text-gray-600;
  }
  &__content {
    @apply my-8;

    h1 {
      @apply text-2xl font-serif mb-2;
    }

    h2 {
      @apply text-xl mb-2;
    }

    h3 {
      @apply text-lg mb-2;
    }
  }
}
