body {
  @apply text-gray-800 text-lg;
}

h1 {
  @apply text-4xl font-serif;
}

h2 {
  @apply text-2xl;
}

a {
  @apply text-blue-500 underline;
}

a:hover {
  @apply text-blue-700;
}

p {
  @apply mb-4;
}

ul,
ol {
  @apply pl-8 my-4;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li > p,
li > ol,
li > ul {
  margin: 0;
}

blockquote {
  @apply border-l-4 border-gray-600 italic pl-4;
}

figure img {
  @apply w-full;
}

figcaption {
  @apply text-sm text-gray-600 text-center;
}

p code {
  display: inline-block;
  @apply font-bold;
}

.nuxt-content-highlight {
  @apply mb-4 relative;
}

.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-600 z-10 mr-2 mt-2 text-sm;
}

.nuxt-content {
  h1, h2 {
    @apply font-sans text-4xl mb-2;
  }

  h3 {
    @apply text-3xl mb-2;
  }

  h4 {
    @apply text-2xl mb-2;
  }

  img {
    @apply mx-auto w-full;
  }
}
